@charset "UTF-8";
/* CSS Document */

body{
	
	background-color:darkseagreen;
	
}

.a2{color:aliceblue;

	
}

a{
	color: #B01B5D
}

div{
align-content: center;
}


#container{
	width:900px;
	background:#FFFFF;
	border:1px solid #FFFFFF;
	margin:20px 20px 20px 20px;
	padding: 0px;
}

#navi{
	list-style:none;
	text-align: center;
	font-size: 14pt;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color:aliceblue;
	
	
}

#navi li{
	display:inline-block;
	padding:20px;
	color:aliceblue;
}

#header{
	height:10px;
	background:#FCFCFC;
	margin:20px 20px 20px;
	
}



.h1{
	text-align:left;
	margin:20px 20px 20px 20px;
	font-size: 40px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color:#8FBC8F;
	
}

.p{
	text-align:justify;
	margin:40px 20px 10px 20px;
	font-size:15px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	

}

.h1_2{
	text-align:left;
	margin:80px 20px 20px 20px;
	font-size: 27px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color:#8FBC8F;
	
}


.pp{
	text-align:justify;
	margin:5px 20px 30px 20px;
	font-size: 15px;
	
	
}

.img_2{
	display: block;
     margin:90px 20px  20px 20px;
	
}

.ppp{
	text-align:left;
	margin:5px 20px 30px 20px;
	font-size: 15px;
}

.pppp{
	text-align:justify;
	margin:5px 20px 30px 20px;
	font-size: 15px;	
}



#contaioner2{
	width:900px;
	height: 1085px;
	background:#FFFFFF;
	margin:20px 20px 20px 20px;
	padding: 20px;
	
}



#main{
	height:350px;
	background:#BBD4BA;
	width:900px;
	margin:20px 20px 20px 20px;
}

.box_1 {
	width:500px;
	height:550px;
	background-color:#FFFFFF;
	float: left;
	margin:5px 5px 5px 5px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";

}

.box_2{
	width:375px;
	height:310px;
	background-color:#FFFFFF;
	float: right;
	margin:50px 5px 5px 10px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	
}


.img_1{
     display: block;
     margin:30px 20px 20px 20px;
   }


.b2_h1{
	text-align:right;
	margin:20px 30px 5px 20px;
	font-size: 27px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";	color:#8FBC8F;
	
	
}

.b2_p{
	text-align:justify;
	margin:10px 30px 30px 20px;
	font-size: 15px;
	
}

.img_3{
	display: block;
     margin:85px 20px 20px 10px;
}


.box_3{
	width: 940px;
	height: 250px;
	margin:-490px 10px 10px -20px;
	background-color: #8FBC8F;
	align-content: center;
	
}

.h3{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #FFFFFF;
	margin: 630px 10px 10px 30px
	
}

.p3{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";

}

.pf{
	height:60px;
	width:900px;
	margin-top:70px;
	text-align:center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color:aliceblue;
	
}

.fig {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	font-size: 13px;
	margin: 10px -45px 10px 10px;
	
}
.fig2 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	font-size: 13px;
	margin: -30px -500px 10px 10px;
}
.fig3 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	font-size: 13px;
	margin: 10px 370px 10px 10px;
}
